@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;500;700&display=swap");

:root {
  --color_shadow: #1a1a1a;
  --color_darkest_blue: #1a1440;
  --color_dark_blue: #272559;
  --color_grey_blue: #565573;
  --color_grey: #9592a6;
  --color_light: #ffffff;
}

body {
  background-color: var(--color_darkest_blue);
}

main {
  min-height: 100vh;
  max-width: 45rem;
  font-family: "Roboto", sans-serif;
  background-color: var(--color_light);
  color: var(--color_shadow);
  font-weight: 400;
  font-size: large;
  box-sizing: content-box;
  margin: 2rem auto;
  display: grid;
  grid-auto-columns: auto;
  text-align: center;
  align-content: flex-start;
}

nav {
  height: 8rem;
}

/* Parágrafos / itens individuais */
h1 {
  font-size: 4.5rem;
}

a {
  text-decoration: none;
  color: var(--color_dark_blue);
}

li {
  list-style-type: none;
}

a:hover {
  color: var(--color_grey_blue);
  font-weight: bolder;
  text-decoration: underline;
}

.about__header > img {
  position: relative;
  top: -3rem;
  width: 15rem;
  margin: auto 0;
}

img:hover {
  animation: growing 500ms forwards;
}

.about__info {
  align-items: center;
  align-content: center;
}

.about__technologies > img {
  background-color: var(--color_grey);
  border-radius: 0.3rem;
  margin: 0.5rem;
}

.card {
  background-color: var(--color_grey);
  font-weight: 500;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 1rem;
  width: 18rem;
}

.card > img {
  width: 15rem;
  height: 22rem;
  -o-object-fit: contain;
  object-fit: contain;
  margin: 0 auto;
}

.card img:hover {
  animation: growing 2s forwards;
}

.shadow {
  -webkit-box-shadow: var(--color_shadow) 1rem 0.5rem;
  box-shadow: var(--color_shadow) 1rem 0.5rem;
}

@keyframes growing {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
