@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap");
body {
  background-color: #1a1a1a;
}

main {
  font-family: "Roboto", sans-serif;
  background-color: #333333;
  color: #ffffff;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: auto;
  margin-top: 5rem;
  max-width: 50rem;
}

main section {
  margin: 2rem;
}

/* Parágrafos / itens individuais */
h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 3rem;
}

p {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  color: #fc8f00;
  font-weight: bolder;
  text-decoration: underline;
}

#about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#about img {
  position: relative;
  -webkit-box-shadow: #1a1a1a 0.5rem 0.5rem;
          box-shadow: #1a1a1a 0.5rem 0.5rem;
  top: -3rem;
  width: 15rem;
}

.card {
  background-color: #5f5f5f;
  border-radius: 0.5rem;
  -webkit-box-shadow: #1a1a1a 1rem 0.5rem;
          box-shadow: #1a1a1a 1rem 0.5rem;
  padding: 0.5rem;
  margin: 1rem;
  width: 18rem;
}

.card > img {
  width: 15rem;
  height: 22rem;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 auto;
}

/* Responsibilidade */
@media (max-width: 1000px) {
  main {
    width: 80%;
  }
  .card {
    min-width: 18rem;
  }
}

@media (max-width: 850px) {
  .card {
    min-width: 18rem;
  }
}

@media (max-width: 420px) {
  main {
    width: 90%;
  }
  .card p {
    font-size: smaller;
  }
  .card img {
    width: 0px;
    height: 0px;
    display: none;
  }
}
