@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap");

body {
  background-color: #1a1a1a;
}

main {
  width: 50vw;
  font-family: "Roboto", sans-serif;
  background-color: #333333;
  color: #ffffff;
  box-sizing: content-box;
  margin: auto;
  margin-top: 5rem;
}

main section {
  margin: 2rem;
}

/* Responsibilidade */

@media (max-width: 980) {
  main {
    width: 90vw;
  }
}

@media (min-width: 1500px) {
  main {
    width: 60vw;
  }
}

/* Parágrafos / itens individuais */
h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 3rem;
}

p {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  color: #ffffff;
  text-decoration: line-through;
}

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#about img {
  position: relative;
  top: -3rem;
  width: 15rem;
}

/* Bootstrap */
.card {
  background-color: #1c0449;
  width: 18rem;
}
